a {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class1 {
    color: rgb(4, 51, 255);
}
a.class1:visited {
    color: rgb(4, 51, 255);
}
a.class1:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class10 {
    color: rgb(4, 51, 255);
}
a.class10:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class10:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class11 {
    color: rgb(4, 51, 255);
}
a.class11:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class11:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class12 {
    color: rgb(4, 51, 255);
}
a.class12:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class12:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class13 {
    color: rgb(4, 51, 255);
}
a.class13:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class13:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class14 {
    color: rgb(4, 51, 255);
}
a.class14:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class14:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class15 {
    color: rgb(4, 51, 255);
}
a.class15:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class15:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class16 {
    color: rgb(4, 51, 255);
}
a.class16:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class16:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class17 {
    color: rgb(4, 51, 255);
}
a.class17:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class17:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class18 {
    color: rgb(4, 51, 255);
}
a.class18:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class18:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class2 {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class2:visited {
    color: rgb(4, 51, 255);
}
a.class2:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class3 {
    color: rgb(4, 51, 255);
}
a.class3:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class3:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class4 {
    color: rgb(4, 51, 255);
}
a.class4:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class4:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class5 {
    color: rgb(4, 51, 255);
}
a.class5:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class5:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class6 {
    color: rgb(4, 51, 255);
}
a.class6:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class6:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class7 {
    color: rgb(4, 51, 255);
}
a.class7:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class7:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class8 {
    color: rgb(4, 51, 255);
}
a.class8:visited {
    color: rgb(4, 51, 255);
}
a.class8:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a.class9 {
    color: rgb(4, 51, 255);
}
a.class9:visited {
    color: rgb(4, 51, 255);
    text-decoration: underline;
}
a.class9:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
ol  { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
    }
.Bullet { 
          text-decoration:none ;
          text-transform:none ;
          border: none;          
        }
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
